@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'],[data-theme='light'] dialog,[data-theme='dark'] .filters{
    background-color: #F8F8FB;
    @apply text-black;
    transition: all;
    transition-duration: 300ms;
}
[data-theme='dark'],[data-theme='dark'] dialog,[data-theme='dark'] option  {
    background-color: #141625;
    @apply text-white;
    transition: all;
    transition-duration: 300ms;
}

[data-theme='dark'] select{
    @apply border-gray-800;
}
[data-theme='dark'] .filters{
    @apply bg-[#252945] text-white;
}
[data-theme='light'] .filters label::before{
    @apply bg-[#dcdcdd];
}
label:hover::before{
    border:2px solid #7C5DFA;
}
.itemList input{
    max-width: 120px !important;
}
.itemList > div:not(:first-of-type) label {
  opacity: 0;
  position: absolute;
}
.itemList > div:first-of-type button{
 @apply mt-16;
}
input[type='radio']:focus + label::before,
label:focus::before{
    box-shadow: 0 0 8px #7C5DFA;
}
input[type='radio']:checked + label::before{
    content:'\2713';
    color: white;
    background-color: #7C5DFA;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dialog{
    transform: translateX(-50%);   
}
[data-theme="light"] .lightBtn{
    @apply bg-[#f2f2f3] text-gray-500;
}
[data-theme="dark"] .lightBtn,[data-theme='dark']  input{
    @apply bg-[#1E2139] text-gray-400 border-gray-700;
}


.form{
    height: calc(-5rem + 100vh);

}